@import './variables.css'; /* Import variables first */

body {
  margin: 0;
  font-family: var(--font-family-sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  background-color: var(--color-background);
  line-height: 1.5;
}

code {
  font-family: var(--font-family-monospace);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: calc(var(--spacing-unit) * 2);
}

p {
   margin-top: 0;
   margin-bottom: calc(var(--spacing-unit) * 2);
} 